/*

Classes :
.section : default

*/
$caretDownMarginTop:2rem;
$caretDownSize:1.3rem;

.section{
	position:relative;
	width:100%;

	.caret_down {
		display:block;
		margin-top:$caretDownMarginTop;
		i {
			font-size:$caretDownSize;
		}
	}

}
